<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="center-body">

<div class="container">
    <h2>➕ Add User</h2>

    <form action="{{ url_for('main.insert_user') }}" method="POST">
        <input type="text" name="name" placeholder="Enter Name" required>
        <input type="email" name="email" placeholder="Enter Email" required>

        <select name="status">
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
        </select>

        <button type="submit" class="btn">Add User</button>
    </form>

    <a href="{{ url_for('main.dashboard') }}" class="back-btn">← Back</a>
</div>

</body>
</html>